<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Cuidadores</title>
</head>
<body>
<div class="container">
    <h1 class="mt-5">Lista de Cuidadores</h1>
    <a class="btn btn-primary mb-3" href="/">Regresar a inicio</a>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Teléfono</th>
        </tr>
        </thead>
        <tbody>
        {% for cuidador in cuidadores %}
            <tr>
                <td>{{ cuidador.ID }}</td>
                <td>{{ cuidador.Nombre }}</td>
                <td>{{ cuidador.Telefono }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
