<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Guardería de Perros</title>
</head>
<body>
<div class="container">
    <h1 class="mt-5">Bienvenido a la Guardería de Perros</h1>

    <!-- Botón de Cerrar Sesión -->
    <div class="text-right">
        <a href="{{ url_for('logout') }}" class="btn btn-danger">Cerrar Sesión</a>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Información de Perros</h5>
            <p class="card-text">Hay <strong>{{ count_lassie }}</strong> perros llamados Lassie.</p>
            <a class="btn btn-primary" href="/perros/lassie">Ver perros llamados Lassie</a>
            <a class="btn btn-secondary" href="/cuidadores">Ver todos los cuidadores</a>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Detalles de la Guardería</h5>
            <p class="card-text">Ver los detalles de la guardería "La Favorita".</p>
            <a class="btn btn-info" href="/guarderia/La%20Favorita">Ver Guardería</a>
        </div>
    </div>
</div>
</body>
</html>
